/*

!Roaming
Roaming/*

# Sublime Text
!Roaming/Sublime Text 3
Roaming/Sublime Text 3/*

!Roaming/Sublime Text 3/Packages
Roaming/Sublime Text 3/Packages/*

!Roaming/Sublime Text 3/Packages/User
Roaming/Sublime Text 3/Packages/User/*.crt
Roaming/Sublime Text 3/Packages/User/Default*
Roaming/Sublime Text 3/Packages/User/FileHistory*
Roaming/Sublime Text 3/Packages/User/Package Control*
Roaming/Sublime Text 3/Packages/User/Color Highlight.cache*
!Roaming/Sublime Text 3/Packages/User/*.sublime-settings
!Roaming/Sublime Text 3/Packages/User/*.sublime-keymap

!Roaming/Sublime Text 3/Packages/Inno Setup
Roaming/Sublime Text 3/Packages/Inno Setup/*
!Roaming/Sublime Text 3/Packages/Inno Setup/Inno Setup.tmLanguage
!Roaming/Sublime Text 3/Packages/Inno Setup/Inno Setup.sublime-completions

!Roaming/Sublime Text 3/Packages/C++
Roaming/Sublime Text 3/Packages/C++/*
!Roaming/Sublime Text 3/Packages/C++/C++.sublime-build

!Roaming/Sublime Text 3/Packages/AutoHotkey
Roaming/Sublime Text 3/Packages/AutoHotkey/*
!Roaming/Sublime Text 3/Packages/AutoHotkey/AutoHotkey.sublime-settings
!Roaming/Sublime Text 3/Packages/AutoHotkey/Main.sublime-menu

!Roaming/Sublime Text 3/Packages/AutoHotkey
Roaming/Sublime Text 3/Packages/AutoHotkey/*
!Roaming/Sublime Text 3/Packages/AutoHotkey/AutoHotkey.sublime-settings
!Roaming/Sublime Text 3/Packages/AutoHotkey/Main.sublime-menu

!Roaming/Sublime Text 3/Packages/SASS Build
Roaming/Sublime Text 3/Packages/SASS Build/*
!Roaming/Sublime Text 3/Packages/SASS Build/*.sublime-build

!Roaming/Sublime Text 3/Packages/Color Scheme - Default
!Roaming/Sublime Text 3/Packages/Color Highlighter
!Roaming/Sublime Text 3/Packages/Theme - Default
!Roaming/Sublime Text 3/Packages/Default

# NPM
!Roaming/npm
Roaming/npm/*
!Roaming/npm/*.yml
!Roaming/npm/*.ini

!Roaming/npm/node_modules
Roaming/npm/node_modules/*

!Roaming/npm/node_modules/sass-lint
Roaming/npm/node_modules/sass-lint/*

!Roaming/npm/node_modules/sass-lint/lib
Roaming/npm/node_modules/sass-lint/lib/*

!Roaming/npm/node_modules/sass-lint/lib/config
Roaming/npm/node_modules/sass-lint/lib/config/*
!Roaming/npm/node_modules/sass-lint/lib/config/*.yml

!Roaming/npm/node_modules/powerbi-visuals-tools
Roaming/npm/node_modules/powerbi-visuals-tools/*
!Roaming/npm/node_modules/powerbi-visuals-tools/lib
Roaming/npm/node_modules/powerbi-visuals-tools/lib/*
!Roaming/npm/node_modules/powerbi-visuals-tools/lib/webpack.config.js

Roaming/Sublime Text 3/Packages/User/TextPastryHistory.sublime-settings
